@import "smart-grid.less";
@import "styles-real.less";


.reset();

.wrapper {
    margin: 0 15px;
}

header {
    text-align: center;
    background: url("../img/header.jpg") center;    
    background-size: cover;
    min-height: 66vw; 
           
    :nth-child(4) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.navigation {
    display: flex;
    
    background-color: yellow;
    min-height: 9vh;

    .menulogo {
        background-color: green;
        flex-grow: 2;
        
    }

    .menuItem {
        background-color: green;
        flex-grow: 1;
        
    }

    .menulogo, .menuItem {
        align-self: center;
        flex-basis: 50px;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}

